<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="makeup, artistico, redes"
    <title>Maquillaje Artístico</title>
     <!--Bootstrap CSS-->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <!--Estilos propios-->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body class="column">
    <header id="boxMenu"><!--inicio del encabezado-->
        <!--logo-->
        <nav class="navegacion">
            <!--logo-->
                <a href="../index.html" class="logo">
                    A.R | artistic make up |
                </a>
        <!--inicio barra de menú de navegación-->
            <ul class="menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../index.html#aboutme">Sobre Mi</a></li>
                <li><a href="../index.html#services">Servicios</a></li>
                <li><a href="../index.html#trabajos">Portfolio</a>
                    <ul class="submenu">
                        <li><a href="make_up_social.html">Make Up Social</a></li>
                        <li><a href="make_up_artistic.html">Make Up Artistico</a></li>
                        <li><a href="bodypainting.html">Body Painting</a></li>
                    </ul>
                </li>  
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav> <!--fin barra de menú de navegación-->
    </header><!--fin del encabezado-->
    <main class="fondoPor">
    <!--inicio del contenido-->
        <section>
            <h1 class="titulosHtml">
                Make Up Artístico
            </h1>
        </section>
        <section class="contenedor-galeria">
            <article class="row justify-content-center">
                <div class="col-8 col-sm-4 col-md-2 slideRight-600ms">
                <img width="210" src="../imagenes/arte1.jpg" alt="artistico">
                </div>
                <div class="col-8 col-sm-4 col-md-2 slideRight-600ms">
                <img width="200" src="../imagenes/arte2.JPG" alt="artistico">
                </div>
                <div class="col-8 col-sm-4 col-md-2 slideRight-600ms">
                <img width="200" src="../imagenes/arte4.png" alt="artistico">
                </div>
            </article>
        </section>
    </main><!--fin del contenido-->
    <footer>
    <!--inicio pie de pagina-->
        <section>
            <h2 class="logoPie">
                A.R | artistic make up |
            </h2>
            </section>
        <section>
            <h2 class="piePagina">
                Seguime en las Redes
            <h2>
            <article id="redes" class="piePagina">
                <a href="https://www.facebook.com/">
                    <img src="../imagenes/facebook.png" alt="redesf">
                </a>    
                <a href="https://www.instagram.com/">
                    <img src="../imagenes/instagram.png" alt="redesi">
                </a>
                <a href="https://www.tiktok.com/">
                    <img src="../imagenes/tiktok.png" alt="redest">
                </a>
            </article>
        </section>
        <section class="copy">
            <article>
                Copyrigth Agustina Rodriguez-Artistic Makeup<br>
                Designed by Sonsoles Grondona Fernandez
            </article>
        </section> 
    </footer><!--fin pie de pagina-->
</body>
</html>